<header class="header">
  <div class="container">
    <!-- Top bar -->
    <div class="top-bar">
      <!-- Logo -->
      <a class="logo">
        <img
          src="https://primefaces.org/cdn/primeng/images/primeng.svg"
          alt="Kênh thông tin mua bán, cho thuê nhà đất số 1"
          class="logo__img"
          title=""
        />
      </a>

      <!-- Navbar -->
      <nav class="navbar">
        <ul class="navbar__list">
          <!-- Navbar item 1 -->
          <li class="navbar__item">
            <a href="#!" class="navbar__link">Nhà đất bán</a>

            <!-- Dropdown 1-->
            <ul class="dropdown">
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Bán căn hộ chung cư</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Bán nhà riêng</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link"
                >Bán nhà biệt thự, liền kề</a
                >
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Bán nhà mặt phố</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Bán shophouse</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Bán đất nền dự án</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Bán đất</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link"
                >Bán trang trại, khu nghỉ dưỡng</a
                >
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Bán condotel</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Bán kho, nhà xưởng</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link"
                >Bán loại bất động sản khác</a
                >
              </li>
            </ul>
          </li>

          <!-- Navbar item 2 -->
          <li class="navbar__item">
            <a href="#!" class="navbar__link">Nhà đất cho thuê</a>

            <!-- Dropdown 2-->
            <ul class="dropdown">
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Cho thuê căn hộ chung cư</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Cho thuê nhà riêng</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link"
                >Cho thuê nhà biệt thự, liền kề</a
                >
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Cho thuê nhà mặt phố</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Cho thuê shophouse</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Cho thuê đất nền dự án</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Cho thuê đất</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link"
                >Cho thuê trang trại, khu nghỉ dưỡng</a
                >
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Cho thuê condotel</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Cho thuê kho, nhà xưởng</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link"
                >Cho thuê loại bất động sản khác</a
                >
              </li>
            </ul>
          </li>

          <!-- Navbar item 3 -->
          <li class="navbar__item">
            <a href="#!" class="navbar__link">Dự án</a>

            <!-- Dropdown 3-->
            <ul class="dropdown">
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Căn hộ chung cư</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Nhà riêng</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Nhà biệt thự, liền kề</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Nhà mặt phố</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link"
                >Shophouse, nhà phố thương mại</a
                >
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Đất nền dự án</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Đất</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link"
                >Trang trại, khu nghỉ dưỡng</a
                >
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Condotel</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Kho, nhà xưởng</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Loại bất động sản khác</a>
              </li>
            </ul>
          </li>

          <!-- Navbar item 4 -->
          <li class="navbar__item">
            <a href="#!" class="navbar__link">Tin tức</a>
          </li>

          <!-- Navbar item 5 -->
          <li class="navbar__item">
            <a href="#!" class="navbar__link">Wiki BĐS</a>

            <!-- Dropdown 5-->
            <ul class="dropdown">
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Mua BĐS</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Bán BĐS</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Thuê BĐS</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Tài chính BĐS</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Quy hoạch - Pháp lý</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Nội - Ngoại thất</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Phong thủy</a>
              </li>
            </ul>
          </li>

          <!-- Navbar item 6 -->
          <li class="navbar__item">
            <a href="#!" class="navbar__link">Phân tích đánh giá</a>

            <!-- Dropdown 6-->
            <ul class="dropdown">
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Biểu đồ giá</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Video đánh giá</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Báo cáo thị trường</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Góc nhìn chuyên gia</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Interkative Story</a>
              </li>
            </ul>
          </li>

          <!-- Navbar item 7 -->
          <li class="navbar__item">
            <a href="#!" class="navbar__link">Danh bạ</a>

            <!-- Dropdown 7-->
            <ul class="dropdown">
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Nhà môi giới</a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">Doanh nghiệp</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Actions -->
    <div class="top-act">
      <button class="top-act__btn">
        <i class="pi pi-heart" style="font-size: 1.4rem"></i>
      </button>
      <div class="top-act__group">
        <button class="top-act__btn">Đăng nhập</button>

        <div class="top-act__separate"></div>

        <button class="top-act__btn">Đăng ký</button>

        <button class="top-act__btn top-act__btn--single">Đăng tin</button>
      </div>
    </div>
  </div>
</header>
