.header {
    width: 100%;
    height: 96px;
    box-shadow: 0px 4px 10px rgba(182, 182, 182, 0.18);
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 17px 15px 17px;
}

/*Top bar*/
.top-bar {
    --header-space: 12px;

    display: flex;
    gap: var(--header-space);
}

/*Nav*/
.navbar {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    position: relative;

    padding: calc(var(--header-space) - 2px);

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
}

.navbar__item:hover .dropdown {
  display: block;
}

.navbar__link {
    position: relative;
    padding-bottom: 6px;
}

.navbar__link::before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 2px;
    border-radius: 8px;

    background-color: red;
    transition: width 0.3s ease-in;
}

.navbar__link:hover::before {
    width: 100%;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 4px;

    min-width: 260px;
    padding: 2px 0;

    display: none;

    font-weight: 400;

    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 8px 20px rgba(182, 182, 182, 0.3);
}

.dropdown__link {
    display: block;
    padding: 8px;
    line-height: 20px;
}

.dropdown__link:hover {
    background-color: #eee;
}

/*Top act*/
.top-act {
    display: flex;
    align-items: center;
}

.top-act__group {
    display: flex;
    align-items: center;
}

.top-act__separate {
    width: 1px;
    height: 16px;
    background: #e5e5e5;
}
.top-act__btn--single {
    border: 1px solid #ccc;
}
.top-act__btn {
    font-family: 'Inter var', sans-serif;

    color: #2c2c2c;
    background: #fff;

    border: none;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    padding: 13px 15px;
}

.top-act__btn:hover {
    background-color: #fafafa;
}
.top-act__btn {

}
